.search-form {
    width: 100%;
    background-color: #027fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-form-input, .search-form-dropdown-select, .search-form-button {
        margin: 1rem 2rem;
    }

    .search-form-input, .search-form-dropdown-select {
        width: 200px;

        label, fieldset, input, div, svg {
            color: #fff;
        }
        fieldset {
            border-color: #fff !important;
        }

    }
    .search-form-dropdown {
        .search-form-dropdown-select{
            &:before, &:after, :hover {
                border-color: #fff !important;
            }
        }
        :focus {
            border-color: #fff;
            background-color: transparent;
        }

    }
}